<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>action.registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ownerreg</servlet-name>
        <servlet-class>action.ownerreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadfile</servlet-name>
        <servlet-class>action.uploadfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>action.Download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ownerreg</servlet-name>
        <url-pattern>/ownerreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadfile</servlet-name>
        <url-pattern>/uploadfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
